<footer>
     <div class="footer-content">
          <div class="footer-section">
               <h4>About Me</h4>
               <p>
                    Learn more me and my mission to help you manage your
                    friends and transactions with ease.
                    <a routerLink="/about">Read more</a>
               </p>
          </div>
          <div class="footer-section">
               <h4>Tech Stack</h4>
               <p>
                    This project was built with Angular, AlphaVantage API, and Chart.js.
               </p>
          </div>
          <div class="footer-section">
               <h4>Follow Me</h4>
               <p>Stay connected and follow me on social media for updates and news.</p>
               <div class="social-icons">
                    <a href="https://www.linkedin.com/in/yehonatan-yosefi-1091261b9/" target="_blank"
                         rel="noopener noreferrer"><svg-icon iconName="linkedin" height="20" width="20" /></a>
                    <a href="https://github.com/yehonatanyosefi" target="_blank" rel="noopener noreferrer"><svg-icon
                              iconName="github" height="20" width="20" /></a>
               </div>
          </div>
     </div>
     <div class="footer-bottom">
          <p>&copy; 2023 Yehonatan Yosefi. All rights reserved.</p>
     </div>
</footer>