form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  font-size: 16px;
  width: 100%;

  &:focus {
    border-color: #07aaf5;
    box-shadow: 0 0 4px rgba(7, 170, 245, 0.3);
  }
}
