<div class="friend-edit">
     <form (ngSubmit)="onSaveFriend()">
          <h2>{{friend._id ? 'Edit' :'Add'}} Friend</h2>
          <div class="friend-info">
               <img src="{{ friend.imgUrl }}" alt="Friend's profile picture" />
               <label for="name">Name:</label>
               <input id="name" name="name" type="text" [(ngModel)]="friend.name">
               <label for="email">Email:</label>
               <input id="email" name="email" type="text" [(ngModel)]="friend.email">
               <label for="phone">Phone:</label>
               <input id="phone" name="phone" type="text" [(ngModel)]="friend.phone">
          </div>
          <button>Save</button>
     </form>
</div>