<div class="about-page">
     <img class="profile-picture" src="assets/img/my-img.png" alt="Yehonatan Yosefi's profile picture">
     <div class="about-me-summary">
          <h1>About Me</h1>
          <p>
               Hey there! I'm a full stack web developer with a passion for writing the best single page applications
               using the latest technologies and frameworks. I'm also a psychology graduate, an AI enthusiast, and a
               Photoshop wizard! 🧙‍♂️
          </p>
          <p>
               My journey in coding started with a 640-hour intensive bootcamp at the Coding Academy, and it's been a
               non-stop rollercoaster of learning and growing since then.
          </p>
     </div>
     <h2>Skills</h2>
     <div class="skills">
          <span>JS & TypeScript</span>
          <span>ES6</span>
          <span>HTML</span>
          <span>CSS & SCSS</span>
          <span>Vue</span>
          <span>Vuex</span>
          <span>React</span>
          <span>Redux</span>
          <span>Angular</span>
          <span>RxJS</span>
          <span>Node</span>
          <span>REST API</span>
          <span>Mongo</span>
          <span>SQL</span>
          <span>Git</span>
          <span>OOP</span>
          <span>PHP</span>
          <span>AI Models Training & Prompting</span>
          <span>Photoshop</span>
          <span>Psychology</span>
     </div>
</div>