.home-container {
  display: grid;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 32px;
  p {
    margin: 0;
    display: flex;
  }
}

.hero-section {
  background-color: #f5f5f5; // Change this to the desired background color
  padding: 32px 0;
  margin-block-end: 2rem;
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero-image {
    width: 50%;
    max-width: 300px;
    margin-inline-end: 32px;
  }
  .hero-txt {
    width: 50%;
    h2 {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      padding: 0 16px;
    }
    p {
      font-size: 18px;
      margin-top: 16px;
      padding: 0 16px;
    }
  }
}

.feature-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  .card {
    width: calc(33% - 16px);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.05);
    }
  }

  .card-header {
    padding: 16px;
    border-bottom: 1px solid #eeeeee;

    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .card-content {
    padding: 16px;

    p {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.recent-activity {
  margin-bottom: 64px;
}

footer {
  justify-self: end;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #424242;
  padding: 24px;
  color: #ffffff;

  .footer-section {
    width: calc(33% - 16px);

    a {
      color: #ffffff;
      text-decoration: underline;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: lighten(#ffffff, 15%);
      }
    }
  }

  .social-icons {
    display: flex;
    align-items: center;

    a {
      display: inline-flex;
      margin-right: 8px;
      color: #ffffff;
      transition: color 0.3s ease-in-out;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: lighten(#ffffff, 15%);
      }
    }
  }
}

.footer-bottom {
  background-color: #303030;
  color: #ffffff;
  text-align: center;
  padding: 8px 0;
}
