<div class="home-container">

  <div class="container">
    <section class="welcome">
      <h1>Welcome, {{ user?.name }}!</h1>
      <p>You have <svg-icon iconName="dollar" />{{user?.dollars}}</p>
    </section>
    <section class="hero-section">
      <div class="hero-content">
        <img src="assets/img/hero.png" alt="Hero Image" class="hero-image" />
        <div class="hero-txt">
          <h2>Manage your friends, send and receive money, while viewing interesting statistics about inflation</h2>
          <p>Use the cards below to access these features.</p>
        </div>
      </div>
    </section>

    <section class="feature-cards">
      <div class="card" routerLink="/friend">
        <div class="card-header">
          <h2>Friends</h2>
        </div>
        <div class="card-content">
          <p>View and manage your friends list.</p>
        </div>
      </div>
      <div class="card" routerLink="/friend/edit">
        <div class="card-header">
          <h2>Add Friend</h2>
        </div>
        <div class="card-content">
          <p>Add a new friend to your friend list.</p>
        </div>
      </div>
      <div class="card" routerLink="/statistics">
        <div class="card-header">
          <h2>Statistics</h2>
        </div>
        <div class="card-content">
          <p>Explore interesting statistics about your money.</p>
        </div>
      </div>
    </section>

    <section class="recent-activity" *ngIf="user && user.moves">
      <h2>Recent Transfers</h2>
      <transfer-list [transfers]="user.moves.slice(0,9)" />
    </section>
  </div>

  <footer-cmp />
</div>