<div class="statistics">
  <h1>Statistics</h1>
  <section>
    <h2>Exchange Rate: USD to ILS</h2>
    <p>1 USD = {{ exchangeRate }} ILS</p>
  </section>
  <section>
    <h2>Pizza Indicator</h2>
    <p>
      The Pizza Indicator tracks the cost of pizza ingredients to show
      inflation. It calculates the average growth of commodities related to
      pizza ingredients, such as wheat for flour, livestock for meat, corn for
      corn syrup, grains for tomatoes, and agriculture for cheese. A rise in the
      Pizza Indicator represents an increase in the cost of pizza ingredients,
      indicating inflation in food prices.
    </p>
    <div class="chart-container">
      <canvas class="chart" id="myChart"></canvas>
      <img src="assets/img/pizza.png" alt="Pizza Indicator meme" />
    </div>
  </section>
</div>